<br><br>
<%= link_to '戻る', admin_path %>

<h1>ワーカーリスト</h1>
<table class="table table-bordered table-responsive table-striped">
  <tr>
    <th>ユーザ名</th>
    <th>順位</th>
    <th>収集ツイート数</th>
    <th>承認ツイート数</th>
    <th>非承認ツイート数</th>
    <th>審査中ツイート数</th>
    <th>評価ツイート数</th>
    <th>収集ポイント</th>
    <th>評価ポイント</th>
    <th>合計ポイント</th>
    <th>支払ポイント</th>
    <th>未払ポイント</th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= link_to u.username, {:controller => 'admin', :action => 'user_show', :user_id => u.id} %></td>
    <td><%= u.ranking %></td>
    <td><%= u.tweet_count %></td>
    <td><%= u.accept_count %></td>
    <td><%= u.reject_count %></td>
    <td><%= u.pending_count %></td>
    <td><%= u.evaluation_count %></td>
    <td><%= u.accept_point %></td>
    <td><%= u.evaluation_point %></td>
    <td><%= u.total_point %></td>
    <td><%= u.payment %></td>
    <td><%= u.rest_point %></td>
  </tr>
  <% end %>
</table>