<p id="notice"><%= notice %></p>

<h1>Behaviors</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tweet</th>
      <th>State</th>
      <th>Vote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @behaviors.each do |behavior| %>
      <tr>
        <td><%= behavior.user_id %></td>
        <td><%= behavior.tweet_id %></td>
        <td><%= behavior.state_id %></td>
        <td><%= behavior.vote_id %></td>
        <td><%= link_to 'Show', behavior %></td>
        <td><%= link_to 'Edit', edit_behavior_path(behavior) %></td>
        <td><%= link_to 'Destroy', behavior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Behavior', new_behavior_path %>
