<div class="row">
  <div class="col-xs-12">
    <button type="button" id="appear" class="btn btn-primary btn-lg btn-block">ここを押してツイートを表示</button>
  </div>
</div>

<span id="tweet" style="display: none;">
<blockquote class="twitter-tweet" data-lang="ja">
  <%= link_to '', @tweet.url %>
</blockquote>
</span>

<p>このツイートは京都観光に関係ありますか?</p>
<%= form_tag evaluation_create_path do %>
    <%= hidden_field_tag 'tweet[tweet_id]', @tweet.tweet_id %>
    <%= submit_tag 'はい' %>
    <%= submit_tag 'いいえ' %>
<% end %>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    jQuery(function () {
        jQuery('html').on({
            'mouseup': function () {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:0,tweet_id:'<%= @tweet.tweet_id %>'}
                });

            },
            'touchend': function () {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:0,tweet_id:'<%= @tweet.tweet_id %>'}
                });

            }
        });

        jQuery('button').on({
            'mousedown': function () {
                event.preventDefault();
                jQuery('span#tweet').show();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:1,tweet_id:'<%= @tweet.tweet_id %>'}
                });

            },
            'touchstart': function () {
                event.preventDefault();
                jQuery('span#tweet').show();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:1,tweet_id:'<%= @tweet.tweet_id %>'}
                });
            }
        });

    });

</script>