<body id="all_body">

<br><br>
<%= link_to '戻る', root_path %><br>
<%= link_to 'チュートリアル', tutorial_tutorial_evaluation_path %>
<br><br>

<div class="row">
  <div class="col-xs-12">
    <button type="button" id="appear" class="btn btn-primary btn-lg btn-block">ここを押してツイートを表示</button>
  </div>
</div>

<span id="tweet" style="display: none;">
<blockquote class="twitter-tweet" data-lang="ja">
  <%= link_to '', @tweet.url %>
</blockquote>
</span>
<div style="font-size:14pt;">
  <%= form_tag evaluation_create_path do %>
      <%= hidden_field_tag 'tweet[tweet_id]', @tweet.tweet_id %>
      <br><br>
      <p>Q1：京都観光に関する場所の様子が分かりますか?</p>
      <span id="check_q1">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="q1click_yes"><input type="radio" name="evaluation" value="1">&nbsp;はい</span>
        &nbsp;&nbsp;&nbsp;
        <span id="q1click_no"><input type="radio" name="evaluation" value="0">&nbsp;いいえ</span>
        &nbsp;&nbsp;&nbsp;
        <span id="q1click_nan"><input type="radio" name="evaluation" value="2">&nbsp;ツイートが表示されない</span>
      </span>
      <br><br>
      <div id="q2_yes">
        <p>Q2：ツイートのジャンルはなんですか?（当てはまるものすべてにチェックを入れてください）</p>
        <div id='check_q2_yes'>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input id="q2click_weather" type="checkbox" name="category[]" value="0">&nbsp;天気
          &nbsp;&nbsp;
          <input id="q2click_crowd" type="checkbox" name="category[]" value="1">&nbsp;混雑
          &nbsp;&nbsp;
          <input id="q2click_scenery" type="checkbox" name="category[]" value="2">&nbsp;景観
          &nbsp;&nbsp;
          <input id="q2click_traffic" type="checkbox" name="category[]" value="3">&nbsp;交通
          &nbsp;&nbsp;
          <input id="q2click_ivent" type="checkbox" name="category[]" value="4">&nbsp;イベント
          &nbsp;&nbsp;
          <input id="q2click_meal" type="checkbox" name="category[]" value="5">&nbsp;食事
          &nbsp;&nbsp;
          <input id="q2click_spot" type="checkbox" name="category[]" value="6">&nbsp;観光地
          &nbsp;&nbsp;
          <input id="q2click_other" type="checkbox" name="category[]" value="7">&nbsp;その他
        </div>
      </div>
      <div id="q2_no">
        <p>Q2：いいえと答えた理由はなんですか?（当てはまるものすべてにチェックを入れてください）</p>
        <div id='check_q2_no'>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_kyoto" type="checkbox" name="reason[]" value="0">&nbsp;京都と関係がないから<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_sightseeing" type="checkbox" name="reason[]" value="1">&nbsp;観光と関係がないから<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_scene" type="checkbox" name="reason[]" value="2">&nbsp;様子が分からないから<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_old" type="checkbox" name="reason[]" value="3">&nbsp;去年の7月10日以前のツイートだから<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_bot" type="checkbox" name="reason[]" value="4">&nbsp;宣伝や広告、botだから<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_other2" type="checkbox" name="reason[]" value="5">&nbsp;その他
        </div>
      </div>
      <br>
      <div id="q3">
        <p>Q3：特筆すべきこと（オプション）</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea id="q3_keypress" name="option" rows="5" cols="50"></textarea>
      </div>
      <br>
      <p><input type="submit" id="submit_button" class="btn btn-primary btn-lg"></p>
  <% end %>
</div>
<br>
<p>＜作業説明＞</p>
<ul>
  <li>京都の様子が分かるツイートかどうか判断してください。基準は以下の5つです。
  </li>
  <ul>
    <li><font color="red">京都</font>に関するツイートかどうか。</li>
    <li>観光地や駅など<font color="red">観光に関する場所</font>かどうか。</li>
    <li><font color="red">様子</font>が分かるかどうか。</li>
    <li><font color="red">去年の7月10日以降</font>に投稿されたツイートかどうか。</li>
    <li>広告や宣伝、botでないこと。（観光地の紹介だけのツイートもNGです。）</li>
  </ul>
  <li>京都の様子が分からないツイートと判断された場合は、その理由を記述してください。</li>
  <li>京都の様子が分ツイートと判断された場合は、ツイートのジャンルを選択肢の中から当てはまるものすべてを選んでください。</li>
  <li>ツイートはボタンをクリックしている間しか表示されません。</li>
  <li>画像が大きいとツイート本文が見えない場合があります。クリックしたまま、キーボードの矢印キーで下にスクロールしてください。</li>
</ul>
</body>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    jQuery(function () {

        var time_limit = 60 * 1000 * 10; //10min
        var timer_id = setTimeout(timer_func, time_limit);

        jQuery("#q2_yes").hide();
        jQuery("#q2_no").hide();
        jQuery("#q3").hide();
        jQuery("#submit_button").prop("disabled", true);

        jQuery('#all_body').on({
            'mousemove': function () {
                clearTimeout(timer_id);
                timer_id = setTimeout(timer_func, time_limit);
                if (jQuery('input[name=evaluation]:checked').val() == "2") {
                    jQuery("#submit_button").prop("disabled", false);
                    jQuery("#q2_yes").hide();
                    jQuery("#q2_no").hide();
                    jQuery('input:checkbox').prop('checked', false);
                    jQuery("#q3").hide();
                }
                if (jQuery('input[name=evaluation]:checked').val() == "1") {
                    jQuery("#submit_button").prop("disabled", true);
                    jQuery("#q2_yes").show();
                    jQuery("#q2_no").hide();
                    jQuery('input[name="reason[]"]').prop('checked', false)
                    jQuery("#q3").show();
                }
                if (jQuery('input[name=evaluation]:checked').val() == "0") {
                    jQuery("#submit_button").prop("disabled", true);
                    jQuery("#q2_yes").hide();
                    jQuery("#q2_no").show();
                    jQuery('input[name="category[]"]').prop('checked', false)
                    jQuery("#q3").show();
                }
                if (jQuery('input[name=evaluation]:checked').val() == "1" && jQuery("#check_q2_yes :checkbox:checked").length > 0) {
                    jQuery("#submit_button").prop("disabled", false);
                }
                if (jQuery('input[name=evaluation]:checked').val() == "0" && jQuery("#check_q2_no :checkbox:checked").length > 0) {
                    jQuery("#submit_button").prop("disabled", false);
                }
            }
        });

        function timer_func() {
            jQuery.ajax({
                url: '<%= user_behavior_click_url %>',
                type: "GET",
                data: {state: 4}
            });
            jQuery('html').one({
                'mousemove': function () {
                    jQuery.ajax({
                        url: '<%= user_behavior_click_url %>',
                        type: "GET",
                        data: {state: 5}
                    });
                }
            });
        }

        jQuery('#appear').on({
            'mousedown': function (event) {
                event.preventDefault();
                jQuery('span#tweet').show();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 1}
                });

            },
            'touchstart': function (event) {
                event.preventDefault();
                jQuery('span#tweet').show();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 1}
                });
            },
            'mouseup': function (event) {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 2}
                });

            },
            'touchend': function (event) {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 2}
                });
            },
            'mouseout': function (event) {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 2}
                });
            }
        });

        jQuery('#q1click_yes').on({
            'click': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 10}
                });
            },
            'tap': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 10}
                });
            }
        });

        jQuery('#q1click_no').on({
            'click': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 11}
                });
            },
            'tap': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 11}
                });
            }
        });

        jQuery('#q1click_nan').on({
            'click': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 12}
                });
            },
            'tap': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 12}
                });
            }
        });

        jQuery('#q2click_weather').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "30"
                } else {
                    val = "40"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "30"
                } else {
                    val = "40"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_crowd').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "31"
                } else {
                    val = "41"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "31"
                } else {
                    val = "41"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_scenery').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "32"
                } else {
                    val = "42"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "32"
                } else {
                    val = "42"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_traffic').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "33"
                } else {
                    val = "43"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "33"
                } else {
                    val = "43"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_ivent').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "34"
                } else {
                    val = "44"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "34"
                } else {
                    val = "44"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_meal').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "35"
                } else {
                    val = "45"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "35"
                } else {
                    val = "45"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_spot').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "36"
                } else {
                    val = "46"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "36"
                } else {
                    val = "46"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_other').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "37"
                } else {
                    val = "47"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "37"
                } else {
                    val = "47"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_kyoto').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "50"
                } else {
                    val = "60"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "50"
                } else {
                    val = "60"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_sightseeing').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "51"
                } else {
                    val = "61"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "51"
                } else {
                    val = "61"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_scene').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "52"
                } else {
                    val = "62"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "52"
                } else {
                    val = "62"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_old').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "53"
                } else {
                    val = "63"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "53"
                } else {
                    val = "63"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_bot').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "54"
                } else {
                    val = "64"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "54"
                } else {
                    val = "64"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q2click_other2').on({
            'click': function () {
                if (jQuery(this).is(':checked')) {
                    val = "55"
                } else {
                    val = "65"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });

            },
            'tap': function () {
                if (jQuery(this).is(':checked')) {
                    val = "55"
                } else {
                    val = "65"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: val}
                });
            }
        });

        jQuery('#q3').on({
            'focusin': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 20}
                });

            },
            'focusout': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 22}
                });
            },
            'paste': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 23}
                });
            }
        });

        jQuery('#q3_keypress').one({
            'keydown': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state: 21}
                });

            }
        });

    });

</script>