<body id="all_body">

<br>
<%= link_to '戻る', evaluation_index_path %><p><p>
<%= link_to 'ツイートを収集する', tweet_insert_index_path%>
<br><br>

<div class="row">
  <div class="col-xs-12">
    <button type="button" id="appear" class="btn btn-primary btn-lg btn-block">ここを押してツイートを表示</button>
  </div>
</div>

<span id="tweet" style="display: none;">
<blockquote class="twitter-tweet" data-lang="ja">
  <%= link_to '', @tweet.url %>
</blockquote>
</span>
<div style="font-size:14pt;">
<%= form_tag evaluation_create_path do %>
    <%= hidden_field_tag 'tweet[tweet_id]', @tweet.tweet_id %>
      <br><br>
      <p>Q1：京都観光に関する場所の様子が分かりますか?</p>
      <span id="check_q1">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="q1click_yes"><input type="radio" name="evaluation" value="1">&nbsp;はい</span>
        &nbsp;&nbsp;&nbsp;
        <span id="q1click_no"><input type="radio" name="evaluation" value="0">&nbsp;いいえ</span>
      </span>
      <br><br>
      <p>Q2：Q1で いいえ を選んだ人に質問です。いいえを選んだ理由はなんですか?</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span id="q2"><span id="q2_keypress"><textarea id="check_q2" name="message" rows="5" cols="50"></textarea></span></span>
      <br><br>
      <p>Q3：Q1で はい を選んだ人に質問です。ツイートのジャンルはなんですか?（当てはまるものすべてにチェックを入れてください）</p>
      <div id='check_q3'>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input id="q3click_weather" type="checkbox" name="category[]" value="0">&nbsp;天気
        &nbsp;&nbsp;
        <input id="q3click_crowd" type="checkbox" name="category[]" value="1">&nbsp;混雑
        &nbsp;&nbsp;
        <input id="q3click_scenery" type="checkbox" name="category[]" value="2">&nbsp;景観
        &nbsp;&nbsp;
        <input id="q3click_traffic" type="checkbox" name="category[]" value="3">&nbsp;交通
        &nbsp;&nbsp;
        <input id="q3click_ivent" type="checkbox" name="category[]" value="4">&nbsp;イベント
        &nbsp;&nbsp;
        <input id="q3click_meal" type="checkbox" name="category[]" value="5">&nbsp;食事
        &nbsp;&nbsp;
        <input id="q3click_spot" type="checkbox" name="category[]" value="6">&nbsp;観光地
        &nbsp;&nbsp;
        <input id="q3click_other" type="checkbox" name="category[]" value="7">&nbsp;その他
      </div>
      <br><br>
      <p><input type="submit" id="submit_button" class="btn btn-primary btn-lg"></p>
<% end %>
</div>

</body>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    jQuery(function () {

        var time_limit=60*1000*10; //10min
        var timer_id=setTimeout(timer_func, time_limit);



        jQuery('#all_body').on({
            'mousemove': function () {
                clearTimeout(timer_id);
                timer_id=setTimeout(timer_func, time_limit);
                if(jQuery('input[name=evaluation]:checked').val()=="1" && jQuery("#check_q3 :checkbox:checked").length>0){
                    jQuery("#submit_button").prop("disabled", false);
                }
                else if(jQuery('input[name=evaluation]:checked').val()=="0" && jQuery("#check_q2").val().length > 0){
                    jQuery("#submit_button").prop("disabled", false);
                }
                else if(jQuery('input[name=evaluation]:checked').val()=="1"){
                    jQuery('textarea').prop("disabled", true);
                    jQuery('textarea').val("");
                    jQuery('input:checkbox').prop("disabled", false);
                    jQuery("#submit_button").prop("disabled", true);
                }
                else if(jQuery('input[name=evaluation]:checked').val()=="0"){
                    jQuery('textarea').prop("disabled", false);
                    jQuery('input:checkbox').prop('checked', false);
                    jQuery('input:checkbox').prop("disabled", true);
                    jQuery("#submit_button").prop("disabled", true);
                }
                else{
                    jQuery("#submit_button").prop("disabled", true);
                }
            }
        });

        function timer_func(){
            jQuery.ajax({
                url: '<%= user_behavior_click_url %>',
                type: "GET",
                data: {state:4}
            });
            jQuery('html').one({
                'mousemove': function() {
                    jQuery.ajax({
                        url: '<%= user_behavior_click_url %>',
                        type: "GET",
                        data: {state:5}
                    });
                }
            });
        }

        $(window).on('load', function() {
            jQuery.ajax({
                url: '<%= user_behavior_click_url %>',
                type: "GET",
                data: {state:0}
            });
        });

        jQuery('#appear').on({
            'mousedown': function () {
                event.preventDefault();
                jQuery('span#tweet').show();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:1}
                });

            },
            'touchstart': function () {
                event.preventDefault();
                jQuery('span#tweet').show();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:1}
                });
            },
            'mouseup': function () {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:2}
                });

            },
            'touchend': function () {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:2}
                });
            },
            'mouseout': function() {
                event.preventDefault();
                jQuery('span#tweet').hide();
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:2}
                });
            }
        });

        jQuery('#q1click_yes').on({
            'click': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:10}
                });
            },
            'tap': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:10}
                });
            }
        });

        jQuery('#q1click_no').on({
            'click': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:11}
                });
            },
            'tap': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:11}
                });
            }
        });

        jQuery('#q2').on({
            'focusin': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:20}
                });

            },
            'focusout': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:22}
                });
            },
            'paste': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:23}
                });
            }
        });

        jQuery('#q2_keypress').one({
            'keydown': function () {
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:21}
                });

            }
        });

        jQuery('#q3click_weather').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "30"
                }else{
                    val = "40"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "30"
                }else{
                    val = "40"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

        jQuery('#q3click_crowd').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "31"
                }else{
                    val = "41"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "31"
                }else{
                    val = "41"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

        jQuery('#q3click_scenery').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "32"
                }else{
                    val = "42"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "32"
                }else{
                    val = "42"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

        jQuery('#q3click_traffic').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "33"
                }else{
                    val = "43"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "33"
                }else{
                    val = "43"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

        jQuery('#q3click_ivent').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "34"
                }else{
                    val = "44"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "34"
                }else{
                    val = "44"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

        jQuery('#q3click_meal').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "35"
                }else{
                    val = "45"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "35"
                }else{
                    val = "45"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

        jQuery('#q3click_spot').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "36"
                }else{
                    val = "46"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "36"
                }else{
                    val = "46"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

        jQuery('#q3click_other').on({
            'click': function () {
                if(jQuery(this).is(':checked')){
                    val = "37"
                }else{
                    val = "47"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });

            },
            'tap': function () {
                if(jQuery(this).is(':checked')){
                    val = "37"
                }else{
                    val = "47"
                }
                jQuery.ajax({
                    url: '<%= user_behavior_click_url %>',
                    type: "GET",
                    data: {state:val}
                });
            }
        });

    });

</script>