<br><br>

<%= link_to '戻る', home_index_path %>
<br><br>

<h1>非承認ツイートの一覧</h1>
<h3>京都と関係がないから</h3>
<table class="table table-striped table-bordered">
  <tbody>
  <% @reject_tweets_kyoto.each do |a_t| %>
      <tr>
          <td><%= a_t.text %></td>
      <tr>
  <% end %>
  </tbody>
</table>
<br>

<h3>観光と関係がないから</h3>
<table class="table table-striped table-bordered">
  <tbody>
  <% @reject_tweets_sightseeing.each do |a_t| %>
      <tr>
        <td><%= a_t.text %></td>
      <tr>
  <% end %>
  </tbody>
</table>
<br>

<h3>様子が分からないから</h3>
<table class="table table-striped table-bordered">
  <tbody>
  <% @reject_tweets_scene.each do |a_t| %>
      <tr>
        <td><%= a_t.text %></td>
      <tr>
  <% end %>
  </tbody>
</table>
<br>

<h3>去年の7月10日以前だから</h3>
<table class="table table-striped table-bordered">
  <tbody>
  <% @reject_tweets_old.each do |a_t| %>
      <tr>
        <td><%= a_t.text %></td>
      <tr>
  <% end %>
  </tbody>
</table>
<br>

<h3>宣伝や広告、bot</h3>
<table class="table table-striped table-bordered">
  <tbody>
  <% @reject_tweets_bot.each do |a_t| %>
      <tr>
        <td><%= a_t.text %></td>
      <tr>
  <% end %>
  </tbody>
</table>
<br>

<h3>その他</h3>
<table class="table table-striped table-bordered">
  <tbody>
  <% @reject_tweets_other.each do |a_t| %>
      <tr>
        <td><%= a_t.text %></td>
      <tr>
  <% end %>
  </tbody>
</table>
<br>

<h1>承認ツイートの一覧</h1>
<table class="table table-striped table-bordered">
  <tbody>
  <% @accept_tweets.each do |a_t| %>
      <tr>
        <td><%= a_t.text %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

