<br><br>
<%= link_to '戻る', root_path %><br>
<%= link_to 'チュートリアル', tutorial_tutorial_insert_path %>
<br><br>


<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.tweet_insert', default: 'ツイートの入力') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(@tweet, :url => {:action => :create}, :html => {method: :post}) do |f| %>
        <div class="form-group">
          <%= f.label :tweet_id %>
          <%= f.text_field :tweet_id, autofocus: true, class: 'form-control input-lg', placeholder: 'https://twitter.com/masason/status/659730015811145728' %>
        </div>
        <%= f.submit t('.tweet_insert', default: '入力'), class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>

<br>
<p>＜作業説明＞</p>
<ul>
  <li>Twitterから京都の様子が分かるツイートを探し、URLを記入してください。</li>
  <li>条件</li>
  <ul>
    <li><font color="red">京都</font>に関すること。</li>
    <li>観光地や駅など<font color="red">観光に関する場所。</font></li>
    <li><font color="red">様子</font>が分かる。</li>
    <li>なるべく最近（去年の7月10日以降）</li>
    <li>広告や宣伝、botでないこと。（観光地の紹介だけのツイートもNGです。）</li>
  </ul>
</ul>
