<br>
<%= link_to '戻る', tweet_insert_index_path %><p><p>
  <%= link_to '他のツイートを評価する', evaluation_new_path%>
  <br><br>


<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.tweet_insert', default: 'ツイートの入力') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(@tweet, :url => {:action => :create}, :html => {method: :post}) do |f| %>
        <div class="form-group">
          <%= f.label :tweet_id %>
          <%= f.text_field :tweet_id, autofocus: true, class: 'form-control input-lg', placeholder: 'https://twitter.com/masason/status/659730015811145728' %>
        </div>
        <%= f.submit t('.tweet_insert', default: '入力'), class: 'btn btn-primary btn-lg'%>
    <% end %>
  </div>
</div>
